@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}
#logo{
    display:flex;
    color:white;
    align-items: center;
    margin:0px 14px;
    font-size: 11px;
}
#logo img{
    height: 42px;
  /*  filter: invert(1);*/
  padding: 0px 8px;
}
#navbar{
    background-color: rgb(170, 68, 99);
    padding: 13px 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#navbar ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

#navbar li{
  list-style: none;
}

#navbar li a{
    color:white;
    font-size:1.5rem;
    text-decoration: none;
    padding:7px 11px;
}


#navbar li a:hover{
    color:black;

}
#introSection{
    padding-bottom: 40px;
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: 3rem;
 background: center/cover no-repeat url("/static/bg.jpg");
 height:300px;
 background-color: red;
}
#introSection div.small{
    font-size: 2rem;
    padding:5px;
}

#missionSection{
background-color: white;
margin:auto;
width:67%;
display:block;
}
.card{
    background-color: rgb(163, 86, 101);
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width:25%;
    margin: 23px 22px;
    height: 209px;

}
.card-content {
    padding: 0px 10px;
}
.card-content{
    font-size:19px ;
}
.card h3{
    text-align: center;
    margin:15px 23px;
    font-family: 'Lobster', cursive;

}
.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-img{
    height: 110px;
    padding: 0px 14px;
    margin: 5px 9px;
}
.card-img img{
    height:inherit;
    filter: invert(1);
    
}
#missionSection h2{
    font-size:42px;
    text-align: center;
    padding-top:13px;
    font-family: 'Lobster', cursive;
}
#sponsorSection{
    height:222px;
    background-color: yellowgreen;
}
#sponsorSection h2{
    font-size:42px;
    text-align: center;
    padding-top:13px;
    font-family: 'Lobster', cursive;
}
#sponsors{
    height:120px;
    max-width:1000px;
    margin:auto;
}
.spImage{
    height:80%;
    margin:20px;
}
#footer{
    height:60px;
    display: flex;
    color:white;
    justify-content: center;
    align-items: center;
    background-color: black;
}